/* Estilos Gerais */
html, body {
    font-family: "Nunito", sans-serif;
    color: #565656;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #d2d2d2;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    margin-right: 15px;
}

/* Estilização da Navegação */
nav {
    background-color: #b1f6ff;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #044b54;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



body{
    background-color: #d2d2d2;
}

/* Estilização do Formulário */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d2d2d2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 0 20px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus, select:focus {
    outline: none;
    border: 2px solid #b1f6ff;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #b1f6ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #033940;
}

/* Responsividade */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }
}
