body {
    margin: 0;
    padding: 30px 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
}

.form, fieldset {
    width: 100%; /* Ajustado para mobile-first */
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    margin: 55px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%; /* Ajuste para ocupar toda a largura */
    margin: 15px auto;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para dispositivos menores */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .form {
        width: 100%;
    }
}

/* Removido estilos não utilizados e ajustado para clareza e eficiência */
