nav {
    margin-bottom: 15px;
    padding: 4px 50px;
    position: sticky;
    top: 0;
    background-color: #b1f6ff;
    border-radius: 50px;
    border: 5px solid #d2d2d2;
}

nav ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    font-size: 1.5em;
    display: inline-block;
    width: 100px;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    font-weight: bolder;
    color: #044b54;
}

nav ul li a:hover {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-weight: 900;
}