html{
    font-family: "Nunito", sans-serif;
    color: #565656;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

main {
    background-color: white;
    /* width: 70%; */
    margin: 0px auto;
    padding: 20px;
    border: 5px solid #d2d2d2;
    border-radius: 50px;
}

table {
    border: #044b54;
    padding: 0%;
    margin: 0%;
}

table thead {
    color: #044b54;
    background-color: #b1f6ff;
    list-style-type: none;
    align-items: center;
    padding: 15px;

    font-size: 1.5em;
    text-decoration: none;
    font-weight: 900;
}

tr :nth-child(even) {
    background-color: #b1f6ff;
}

table tbody {
    text-align: center
}




